<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RestApiUrl" value="http://www.omdbapi.com/?i=tt3896198&apikey=7576c256"></add>
  </appSettings>
</configuration>