<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IMDB.Properties.Settings.DotNetConnectionString" connectionString="Data Source=193.198.57.183;Initial Catalog=DotNet;Persist Security Info=True;User ID=vjezbe;Password=vjezbe"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>